/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#menubar{
    -fx-background-color: rgb(0, 0, 0);
     background-color: rgb(0, 0, 0);
}
#menubar .label{
    -fx-text-fill: rgb(169, 169, 169);
}
#menubar .label:hover{
    -fx-text-fill: rgb(255, 255, 255);
}

#left_side_bpane {
    
    -fx-background-color : linear-gradient(to top,rgb(18,18,18)85%,rgb(30,18,88) 100%);
    background-color: rgb(30,18,88); 
    background-color: linear-gradient(to top,rgb(18,18,18)85%,rgb(30,18,88) 100%);
    
}
#left_side_bpane .label{
    -fx-text-fill:rgb(255,255,255);
}
#homePane {
    -fx-background-color: trasparent;
    background-color: transparent;
}
#homePane > .viewport{
    -fx-background-color: trasparent;
    background-color: transparent; 
}

#homePane .scroll-pane{
    -fx-background-color: trasparent;
    background-color: transparent;
}


#homePane .scroll-pane > .viewport{
    -fx-background-color: trasparent;
    background-color: transparent; 
}

#HomeBorderPaneCss{
    -fx-background-color: trasparent;
    background-color: transparent; 
}
