
#regPane{
   
    -fx-min-width: 600;
    min-width: 600;
    -fx-min-height:800;
    min-height: 800;
    /*-fx-background-color: rgb(8, 1, 43);
     background-color: rgb(8, 1, 43);*/
     -fx-background-color : linear-gradient(to top,rgb(18,18,18)85%,rgb(30,18,88) 100%);
    background-color: rgb(30,18,88); 
    background-color: linear-gradient(to top,rgb(18,18,18)85%,rgb(30,18,88) 100%);

}

#regHbox{
    -fx-padding: 10 0 20 -20 ;
}

#regHbox .label{
    -fx-font-size: 25;
    font-size: 25;
}
#regVbox{
    
    -fx-min-width: 600;
    min-width: 600;
    -fx-min-height:800;
    min-height: 800;
    
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-padding: 30 50 30 50;
   
}

.transparent_box{
    -fx-background-color: rgb(18,18,18);
    background-color: rgb(18,18,18);
    -fx-prompt-text-fill:rgba(111, 108, 108, 0.651);
    -fx-text-fill: rgb(255,255,255);
    -fx-padding: -5 0 0 -2;
    -fx-cursor: text;
    -fx-border-color: rgb(18,18,18) rgb(18,18,18) rgba(111, 108, 108, 0.651) rgb(18,18,18);
    -fx-border-width: 2;
    -fx-border-radius:3;

}

.transparent_box:hover{
    -fx-prompt-text-fill:rgb(255, 255, 255);
    -fx-border-color: rgb(18,18,18) rgb(18,18,18) rgb(255, 255, 255) rgb(18,18,18);
}

.transparent_box:active{
    -fx-border-color: rgb(18,18,18) rgb(18,18,18) rgb(255, 255, 255) rgb(18,18,18);
}

#signUpLabel{
    -fx-text-fill:rgb(255, 255, 255);
    -fx-font-weight: 700;
    font-weight:700;
    -fx-label-padding:0 0 0 -10;
}

.label_other{
    -fx-text-fill:rgba(255, 255, 255, 0.688);
    -fx-font-size: 18;
    font-size: 18;
    -fx-label-padding: 0 0 0 -2;
}

#msgErr{
    -fx-text-fill:rgb(227, 227, 227);
    -fx-underline:true;
    -fx-label-padding:20 0 0 0;
    -fx-font-size: 15;
    font-size: 15;
}

.text-field{
    -fx-font-size: 18;
    font-size: 18;
}
.image-view{
    -fx-padding:10;
    padding: 10;
}

#btn_registra {
    -fx-background-color: rgba(0,0,0,0);
    background-color:  rgba(0, 0, 0, 0);
    -fx-text-fill: rgb(169, 169, 169);
    -fx-font-weight:700;
    font-weight: 700;
    -fx-font-size: 20;
    font-size: 20;
}

#btn_registra:hover {
    -fx-text-fill: rgb(255, 255, 255);
   
}







