#songPane {
    -fx-background-color:rgba(250, 0, 0, 0);
    background-color: rgba(0,0,0,0);
}

#songPane #repository{
    -fx-background-color:rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

#repository .column-header-background .filler {
    -fx-background-color: rgba(136, 7, 7, 0);
    background-color: rgba(0,0,0,0);
}
#repository .scroll-bar * {
    -fx-min-width: 0;
    min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    max-width: 0;

    -fx-min-height: 0;
    min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    max-height: 0;
}
#repository .corner {
    -fx-background-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

#repository .column-header{
    -fx-border-width:0 0 1 0;
    border-width:0 0 1 0;
    -fx-border-color:rgb(47,44,57);
    border-color:rgb(47,44,57);
}



#repository .column-header-background{
    -fx-background-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    padding: 0 0 5px 0;
}

#repository .column-header {

    -fx-background-color: rgba(0,0,0,0);
    background-color:  rgba(0,0,0,0);
    
    
    
}
#repository .column-header  .label{
    -fx-padding:25 0 10 0;
    padding: 25 0 10 0;
    -fx-text-fill:rgb(175,174,174);
    -fx-font-size:13;
    font-size:13;

}
#repository .column-header  .label:hover{
    -fx-text-fill:rgb(255,255,255);
}

#repository #songindex{
    -fx-alignment:CENTER;
}
#repository  #titolo .label{
    -fx-alignment:CENTER-LEFT;
}
#repository  #album .label{
    -fx-alignment:CENTER-LEFT;
}
#repository  #autore .label{
    -fx-alignment:CENTER-LEFT;
}
#repository  #durata .label{
    -fx-alignment:CENTER-RIGHT;
}
#repository  #optionbutton .label{
    -fx-alignment:CENTER-LEFT;
}



#repository .table-cell{
    -fx-border-width:0px;
    border-width: 0px;
    -fx-alignment:CENTER-LEFT;
    border-width: 0px;

}
#repository .table-cell .label{
    -fx-padding:15 0 15 0;
    padding:15 0 15 0;
 
}
#repository .table-cell #optionbutton  .label{
    -fx-padding:0 0 0 0;
    padding:0 0 0 0;
 
 }
#repository #songindex {
    -fx-alignment:CENTER;

}
#repository #anno {
    -fx-alignment:CENTER;

}
#repository #durata {
    -fx-alignment:CENTER-RIGHT;

}
#repository #optionbutton {
    -fx-alignment:CENTER;

}



.table-row-cell:hover {
    -fx-background-color: rgb(42,42,42);
    background-color: rgb(42,42,42);
    -fx-background-radius:4;

}

.table-row-cell{
    -fx-background-color: rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
    -fx-text-background-color: rgb(255, 255, 255);
}





#repository #optionbutton .menu-button{
    visibility: visible;
    -fx-background-color:rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0); 
}
#repository #optionbutton .menu-button .label{
   -fx-font-size:15;
   font-size: 15;
   -fx-font-weight:bold;
   font-weight: bold;
}
 .table-row-cell:hover >  #optionbutton .menu-button {
    visibility: visible;
    -fx-background-color:rgba(0,0,0,0);
    background-color: rgba(0,0,0,0); 

}
.menu-button > .arrow-button {
    -fx-padding: 0;
    padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
    padding: 0;

}
.menu-button  .context-menu{
    -fx-background-color: rgb(40,40,40);
    background-color: rgb(40,40,40);
    -fx-background-radius: 5;
    -fx-padding:4;
    padding: 4;

}

.menu-button  .menu-item {
    -fx-padding:0 14 0 7 !important;
    padding: 0 14 0 7 !important;
    
}
.menu-button  .menu-item .label{
    -fx-text-fill:rgb(234, 234, 234) !important;
    
}

.menu-button .menu-item{
    -fx-background-color:rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0); 
    
}


.menu-button .menu-item:hover{
    -fx-background-color:rgba(62,62,62);
    background-color: rgba(62,62,62);
    -fx-background-radius:4;
}
.menu-button .addToPlaylist{
    -fx-border-width:0 0 1 0;
    border-width:0 0 1 0;
    -fx-border-color: rgb(82,82,82);
    border-color: rgb(82,82,82);
    
}
#repository:focused .table-row-cell:selected {
    -fx-background-color:rgb(92,90,95);
    background-color: rgb(92,90,95);
    -fx-table-cell-border-color: rgb(92,90,95);
    -fx-background-radius:4;

}




.imgViewbox{
    -fx-background-color:rgb(40,40,40);
    background-color: rgb(40,40,40);
}

.labelNomePlaylist{
    -fx-font-size:70px;
    font-size: 70px;
    -fx-padding:0 0 0 0 ;
    padding:0 0 0 0 ;
    -fx-background-color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
    -fx-text-fill:rgb(255,255,255);

    
}