.tableviewpane {
    -fx-background-color:rgba(0, 0, 0, 0);
    background-color: rgba(0,0,0,0);
}

.repo{
    -fx-background-color:rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.repo .column-header-background .filler {
    -fx-background-color: rgba(136, 7, 7, 0);
    background-color: rgba(0,0,0,0);
}
.repo .scroll-bar * {
    -fx-min-width: 0;
    min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    max-width: 0;

    -fx-min-height: 0;
    min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    max-height: 0;
}
.repo .corner {
    -fx-background-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.repo .column-header{
    -fx-border-width:0 0 1 0;
    border-width:0 0 1 0;
    -fx-border-color:rgb(47,44,57);
    border-color:rgb(47,44,57);
}



.repo .column-header-background{
    -fx-background-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    padding: 0 0 5px 0;
}

.repo .column-header {

    -fx-background-color: rgba(0,0,0,0);
    background-color:  rgba(0,0,0,0);
    
    
    
}
.repo .column-header  .label{
    -fx-padding:25 0 10 0;
    padding: 25 0 10 0;
    -fx-text-fill:rgb(175,174,174);
    -fx-font-size:13;
    font-size:13;

}
.repo .column-header  .label:hover{
    -fx-text-fill:rgb(255,255,255);
}

.repo .songindex{
    -fx-alignment:CENTER;
}
.repo  .titolo .label{
    -fx-alignment:CENTER-LEFT;
}
.repo  .album .label{
    -fx-alignment:CENTER-LEFT;
}
.repo  .autore .label{
    -fx-alignment:CENTER-LEFT;
}
.repo  .durata .label{
    -fx-alignment:CENTER-RIGHT;
}
.repo  .optionbutton .label{
    -fx-alignment:CENTER-LEFT;
}

.repo  .addbutton .label{
    -fx-alignment:CENTER;
}

.repo .table-cell{
    -fx-border-width:0px;
    border-width: 0px;
    -fx-alignment:CENTER-LEFT;
    border-width: 0px;

}
.repo .table-cell .label{
    -fx-padding:15 0 15 0;
    padding:15 0 15 0;
 
}
.repo .table-cell .optionbutton  .label{
    -fx-padding:0 0 0 0;
    padding:0 0 0 0;
 
 }



 .repo .table-cell  .button{
    -fx-font-family:"Proxima Nova";
    font-family:"Proxima Nova";
    -fx-alignment:CENTER;
    -fx-min-width:60;
    min-width:60px;
    -fx-text-fill:rgb(255,255,255);
    -fx-padding:7 10 7 10;
    padding:7 10 7 10;
    -fx-background-color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
    -fx-background-radius:15;
    -fx-border-radius:15;
    border-radius:15;
    -fx-border-width:1;
    border-width:1;
    -fx-border-color:rgb(108,107,107);
    border-color:rgb(108,107,107);

 
 }
 .repo .table-cell  .button:hover{
    -fx-border-width:2;
    border-width:2;
    -fx-border-color:rgb(255,255,255);
    border-color:rgb(255,255,255); 
 }
.repo .songindex {
    -fx-alignment:CENTER;

}
.repo .anno {
    -fx-alignment:CENTER;

}
.repo .durata {
    -fx-alignment:CENTER-RIGHT;

}
.repo .addbutton {
    -fx-alignment:CENTER;
}
.repo .optionbutton {
    -fx-alignment:CENTER;

}


.table-row-cell:hover {
    -fx-background-color: rgb(42,42,42);
    background-color: rgb(42,42,42);
    -fx-background-radius:4;

}

.table-row-cell{
    -fx-background-color: rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
    -fx-text-background-color: rgb(255, 255, 255);
}



.repo .optionbutton .menu-button{
    visibility: visible;
    -fx-background-color:rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0); 
}
.repo .optionbutton .menu-button .label{
   -fx-font-size:15;
   font-size: 15;
   -fx-font-weight:bold;
   font-weight: bold;
}
 .table-row-cell:hover >  .optionbutton .menu-button {
    visibility: visible;
    -fx-background-color:rgba(0,0,0,0);
    background-color: rgba(0,0,0,0); 

}
.menu-button > .arrow-button {
    -fx-padding: 0;
    padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
    padding: 0;

}
.menu-button  .context-menu{
    -fx-background-color: rgb(40,40,40);
    background-color: rgb(40,40,40);
    -fx-background-radius: 5;
    -fx-padding:4;
    padding: 4;

}

.menu-button  .menu-item {
    -fx-padding:0 14 0 7 !important;
    padding: 0 14 0 7 !important;
    
}
.menu-button  .menu-item .label{
    -fx-text-fill:rgb(234, 234, 234) !important;
    
}

.menu-button .menu-item{
    -fx-background-color:rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0); 
    
}


.menu-button .menu-item:hover{
    -fx-background-color:rgba(62,62,62);
    background-color: rgba(62,62,62);
    -fx-background-radius:4;
}
.menu-button .addToPlaylist{
    -fx-border-width:0 0 1 0;
    border-width:0 0 1 0;
    -fx-border-color: rgb(82,82,82);
    border-color: rgb(82,82,82);
    
}
.repo:focused .table-row-cell:selected {
    -fx-background-color:rgb(92,90,95);
    background-color: rgb(92,90,95);
    -fx-table-cell-border-color: rgb(92,90,95);
    -fx-background-radius:4;

}



.imgViewbox{
    -fx-background-color:rgb(40,40,40);
    background-color: rgb(40,40,40);
}

.labelNomePlaylist{
    -fx-font-size:60;
    font-size: 60px;
    -fx-padding:0 0 0 0 ;
    padding:0 0 0 0 ;
    -fx-background-color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
    -fx-text-fill:rgb(255,255,255);

    
}


#createPlaylist{
    -fx-padding:15 35 15 35;
    padding:15 45 15 45;
    -fx-text-fill:rgb(255,255,255);
    -fx-background-color:rgb(101,212,110);
    background-color:rgb(101,212,110);
    -fx-background-radius:30;
    -fx-border-color: rgb(58, 172, 68);
    border-color: rgb(58, 172, 68);
    -fx-border-radius:30;
    border-radius:15;
    
}