.rowStyle{
    -fx-background-color: rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0); 
    -fx-background-radius: 5;
}
.rowStyle > .viewport{
    -fx-background-color: rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0); 
    
}
.rowStyle:hover{ 
    -fx-background-color: rgba(42,42,42,1);
    background-color: rgba(42,42,42,1); 

}
.nothover:hover{
    -fx-background-color:rgb(92,90,95);
    background-color: rgb(92,90,95);
}

.buttonMenu{
    visibility: hidden;
    -fx-background-color:rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0); 
}
.rowStyle:hover  .buttonMenu{
   visibility: visible;
}


.buttonMenu > .arrow-button {
    -fx-padding: 0;
    padding: 0;
}

.buttonMenu > .arrow-button > .arrow {
    -fx-padding: 0;
    padding: 0;

}
.buttonMenu  .context-menu{

    -fx-background-color: rgb(40,40,40);
    background-color: rgb(40,40,40);
    -fx-background-radius: 5;
    -fx-padding:4;
    padding: 4;
}

.buttonMenu  .menu-item {
    -fx-padding:14 11 14 11 ;
    padding: 14 11 14 11;
    
}
.buttonMenu  .menu-item .label{
    -fx-text-fill:rgb(234, 234, 234) !important;
    
}

.buttonMenu .menu-item{
    -fx-background-color:rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0); 
    
}
.buttonMenu #addToPlaylistMenuItem{
    -fx-border-width:0 0 1 0;
    border-width:0 0 1 0;
    -fx-border-color: rgb(82,82,82);
    border-color: rgb(82,82,82);
    
}

.buttonMenu .menu-item:hover{
    -fx-background-color:rgba(62,62,62);
    background-color: rgba(62,62,62);
    -fx-background-radius:4;
}

.nothover{
    -fx-background-color:rgb(92,90,95);
    background-color: rgb(92,90,95);
}

.nothover .buttonMenu{
    visibility: visible;
}