.songinfocontainer{
    -fx-border-width:0 0 1 0;
    border-width:0 0 1 0;
    -fx-border-color:rgb(40,40,40);
    border-color:rgb(40,40,40);
}

.prospecticbox
{
    -fx-border-width:1 0 0 0;
    border-width:1 0 0 0;
    -fx-border-color:rgb(40,40,40);
    border-color:rgb(40,40,40); 
}

.vbox{
    -fx-border-color: rgba(111, 108, 108, 0.651);
    border-color: rgba(111, 108, 108, 0.651);
    -fx-border-width: 2;
    border-width: 2;
    -fx-border-radius:3;
    border-radius:3;
}


.hbox{
    -fx-background-color: rgb(40,40,40);
    background-color: rgb(40,40,40);

    
}

.hbox .label{

    -fx-font-size: 15;
    font-size: 15;


}


/***************************  sistemare  ************************************/

.transparent_box{
    -fx-mark-color: rgb(255, 255, 255);
    -fx-background-color: rgb(18,18,18);
    background-color: rgb(18,18,18);
    -fx-prompt-text-fill:rgba(111, 108, 108, 0.651);
    -fx-text-fill: rgb(255,255,255);
    -fx-padding: -5 0 0 -2;
    padding: -5 0 0 -2;
    -fx-cursor: text;
    cursor: text;
    -fx-border-color: rgb(18,18,18) rgb(18,18,18) rgba(111, 108, 108, 0.651) rgb(18,18,18);
    border-color: rgb(18,18,18) rgb(18,18,18) rgba(111, 108, 108, 0.651) rgb(18,18,18);
    -fx-border-width: 2;
    border-width: 2;
    -fx-border-radius:3;
    border-radius:3;

}



.transparent_box .label{

    -fx-alignment:CENTER;
}


.transparent_box:hover{
    -fx-prompt-text-fill:rgb(255, 255, 255);
    -fx-border-color: rgb(18,18,18) rgb(18,18,18) rgb(255, 255, 255) rgb(18,18,18);
    border-color: rgb(18,18,18) rgb(18,18,18) rgb(255, 255, 255) rgb(18,18,18);
}


.transparent_box:active{
    -fx-border-color: rgb(18,18,18) rgb(18,18,18) rgb(255, 255, 255) rgb(18,18,18);
    border-color: rgb(18,18,18) rgb(18,18,18) rgb(255, 255, 255) rgb(18,18,18);
}

.transparent_box .context-menu{
    -fx-background-color: black;
    background-color: black;
}
.transparent_box .menu-item { 
    -fx-pref-width: 100;
 }
.transparent_box .menu-item:focused { -fx-background-color: rgb(42,42,42);
    background-color: rgb(42,42,42); }
.transparent_box .menu-item > .label { -fx-text-fill: white; }

.transparent_box .menu-item:focused > .label { -fx-text-fill: black; }
/****************************************************************************/


.chart-legend {
    -fx-background-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    -fx-text-fill: rgb(255,255,255);
    -fx-border-color: rgb(18,18,18) rgb(18,18,18) rgb(18,18,18) rgb(18,18,18);
    border-color: rgb(18,18,18) rgb(18,18,18) rgb(18,18,18) rgb(18,18,18);
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: rgb(255,255,255);
    fill: rgb(255,255,255);
    -fx-font-family:"Proxima Nova";
    font-family:"Proxima Nova";
    -fx-font-size: 18;
    font-size: 18;
}
